<p>
  {{link-to "Inventory list" "inventories.index" class="button"}}
</p>

<h1>Inventory show</h1>

<p>
  <strong>Itemcode:</strong>
  <span>{{model.itemcode}}</span>
</p>

<p>
  <strong>Itemname:</strong>
  <span>{{model.itemname}}</span>
</p>

<p>
  <strong>Createdate:</strong>
  <span>{{model.createdate}}</span>
</p>
