<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>We are here to help the people who are in need. We maintain the record of item in the pantry. And maintain the record of donation items. </p>
</div>
  <div class="content container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="links">
                            <!-- Example row of columns -->

                                <div class="col-md-3">
                                    <div class="thumbnail">

                                        <div class="caption">
                                            <h2>Volunteer</h2>
                                              {{#link-to 'volunteers'}}
                                                <p><img src="{{constants.rootURL}}img/volunteerimage.jpg" width="100%" height="100%">View details &raquo;</p>
                                                {{/link-to}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">

                                        <div class="caption">
                                            <h2>Inventory</h2>
                                              {{#link-to 'inventories'}}
                                                <p><img src="{{constants.rootURL}}img/foodinventory.png" width="100%" height="100%">View details &raquo;</p>
                                                {{/link-to}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">

                                        <div class="caption">
                                            <h2>Donor</h2>
                                              {{#link-to 'donors'}}
                                                <p><img src="{{constants.rootURL}}img/donorimage.jpg" width="100%">View details &raquo;</p>
                                                {{/link-to}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">

                                        <div class="caption">
                                            <h2>Donations</h2>
                                              {{#link-to 'donations'}}
                                                <p><img src="{{constants.rootURL}}img/donationbox.jpg" width="100%">View details &raquo;</p>
                                                {{/link-to}}
                                        </div>
                                    </div>
                                </div>

                          </div>
                      </div>

                  </div>
  </div>
